body {
  background-color: beige;
  text-align: center;
}

h1 {
  color: navy;
}

.item_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: center;
}

.item_container {
  padding: 5px 0px 0px 5px;
  transition: .1s ease-in;
}

.item_container:hover {
  padding: 0px 5px 5px 0px;
}

.item {
  background-color: cyan;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
  transition: .1s ease-in;
}

.item_container:hover .item {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}